/* header-nav */
.header-input {
    width: 30%;
}

.keyword-input {
    padding: 8px 16px;
    height: 40px;
    width: 100%;
    font-size: 18px;
}

.nav-buttons {
    width: 25%;
    padding-left: 30px;
}

.nav-buttons form {
    display: inline-block;
}

.logout__btn button,
.mypage-link button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sell-link button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.sell-link button:hover {
    background-color: #f2f2f2;
}

/* content */
/* コンテナ全体 */
.mypage-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

/* プロフィールセクション */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 150px 30px;
}

.profile-info-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* プロフィール画像（丸く＆未設定時の背景） */
.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ccc;
    display: block;
}

.profile-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-alt-text {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

/* ユーザー名 */
.user-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

.name{
    padding-bottom: 5px;
}

.star {
    font-size: 24px;
    color: #ccc;
    /* グレー */
}

.star.filled {
    color: gold;
    /* 黄色 */
}

/* プロフィール編集ボタン */
.edit-profile-button {
    margin-left: 0;
    padding: 10px 20px;
    border: 1px solid #ff5c5c;
    color: #ff5c5c;
    background-color: transparent;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.edit-profile-button:hover {
    background-color: #ff5c5c;
    color: white;
}

/* レスポンシブ: タブレットでは縦並びに */
@media (max-width: 850px) {
    /* .profile-section {
        flex-direction: column;
        margin: 0 20px 30px;
        gap: 20px;
    } */

    .profile-info-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* タブメニュー */
.tab-menu {
    width: 100%;
    display: flex;
    gap: 40px;
    padding-left: 80px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.tab-menu a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.tab-menu a.active {
    color: red;
}

/* 商品リスト */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
}

/* 商品カード */
.product-card {
    width: 200px;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-color: #ddd;
    border-radius: 4px;
}

.product-card p {
    margin-top: 8px;
    font-size: 16px;
}